.intro {
  font-size: 2rem;
  color: rgb(240, 243, 49);
  text-align: justify;
  padding: 2rem 5rem;
}
.guide {
  display: flex;
  flex-direction: column;
}
.ready {
  font-size: 1.5rem;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(240, 243, 49);
}
@media screen and (max-width: 480px) {
  .intro {
    font-size: 18px;
    margin: 0px;
  }
}