.score {
  border: 1px solid whitesmoke;
  width: 15rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 10px whitesmoke;
  border-radius: 0.5rem;
}

.result {
  font-size: 24px;
  margin-bottom: 8vh;
}
h2 {
  font-size: 24px;
  font-family: "New Tegomin", serif;
  font-style: bold;
  padding-bottom: 25px;
  text-shadow: 1px 1px 1px whitesmoke;
}
p {
  font-size: 20px;
  font-family: "New Tegomin", serif;
  color: whitesmoke;
  text-shadow: 1.5px 1.5px 1.5px black;
  line-height: 5vh;
}
hr{
  width: 17rem;
  margin: -1.1rem;
}
.out {
  font-size: 8vh;
  text-shadow: 2px 2px 1px white;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repeat {
  font-size: 6vh;
  text-shadow: 1px 1px 1px rgb(219, 216, 216);
}
