.joy{
  display: none;
}
.score {
  border: 1px solid whitesmoke;
  width: 15rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 10px whitesmoke;
  border-radius: 0.5rem;
}

.result {
  font-size: 24px;
  margin-bottom: 8vh;
}
h2 {
  font-size: 24px;
  font-family: "New Tegomin", serif;
  font-style: bold;
  padding-bottom: 25px;
  text-shadow: 1px 1px 1px whitesmoke;
}
p {
  font-size: 20px;
  font-family: "New Tegomin", serif;
  color: whitesmoke;
  text-shadow: 1.5px 1.5px 1.5px black;
  line-height: 5vh;
}
hr {
  width: 17rem;
  margin: -1.1rem;
}
.out {
  font-size: 8vh;
  text-shadow: 2px 2px 1px white;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repeat {
  font-size: 6vh;
  cursor: pointer;
  flex-direction: row;
  justify-content: center;
  text-shadow: 1px 1px 1px rgb(219, 216, 216);
}
.help {
  font-size: 20px;
  cursor: pointer;
  color: whitesmoke;
  text-decoration: none;
  text-shadow: 1.5px 1.5px 1.5px black;
}

@media screen and (max-width: 480px) {
  .score {
    padding: 0rem;
    margin-right: 2rem;
    width: calc(100vh - 75vh);;
    height: calc(100vh - 85vh);
    border-radius: 1.5rem;
  }
  h2 {
    font-size: 0px;
    padding-top: 0px;
  }
  p {
    font-size: 18px;
    color: whitesmoke;
    text-shadow: 1.5px 1.5px 1.5px black;
    line-height: 3vh;
  }
  hr {
    width: 0rem;
    margin: -1rem;
  }
  .joy{
  display:unset;
}
.joy-score{
  display: flex;
  flex-direction: row;
  padding: 2.5rem;
}
.repeat {
  font-size: 4vh;
}
}
