.board {
  border: 1px solid whitesmoke;
  box-shadow: 0 0 20px rgb(240, 243, 49);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.cell {
  border: 0.5px solid rgb(224, 222, 222);
  height: 2rem;
  width: 2rem;
  border-radius: 4px;
}

.food{
  background-color: rgb(240, 243, 49);
  box-shadow: 0 0 10px white;
}

.snake {
  background-color: teal;
  box-shadow: 0 0 10px white;
}
