.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(97, 104, 104);
  min-height: 100vh;
}
.game {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.game-end {
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  justify-content: center;
}
.title {
  font-size: 4rem;
  text-shadow: 1px 1px 1px rgb(240, 243, 49);
  text-align: center;
  margin: 1rem;
}
.snake-img{
    width: auto;
    height: 50px;
  }
@media screen and (max-width: 480px) {
  .title {
    font-size: 2.5rem;
    margin: 5px;
  }
  .snake-img{
    width: auto;
    height: 25px;
  }
  .game {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
}
