.app {
  display: flex;
  flex-direction: column;
  background-color: rgb(97, 104, 104);
  min-height: 100vh;
}
.game {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: space-evenly;
  align-items: center;
}
.game-end {
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  justify-content: center;
}
.title {
  font-size: 4rem;
  font-style: bold;
  text-shadow: 1px 1px 1px rgb(240, 243, 49);
  text-align: center;
  margin: 1.5rem;
}
